/**
* Name: CatUI
* Author: Lin.xs
* Create: 2016-08-29 10:53
* LastUpdate: 2016-10-09 17:58:40
*/

html, body {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font: 625%/1.5rem Consolas, Microsoft YaHei, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    position: relative;
    color: #DBBE83;
    color: rgba(219, 190, 131, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /*user-select: none;*/
}

html, body, header, footer, article, section, aside {
    padding: 0;
    margin: 0;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

header, footer, nav, div, p, span, ol, ul, em, strong, i {
    font-size: inherit;
    cursor: default;
}

form, ol, ul, p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em;
}

h1 {
    margin: .15rem 0;
    font-size: 2.5em;
}

h2 {
    margin: .15rem 0;
    font-size: 2.25em;
}

h3 {
    margin: .15rem 0;
    font-size: 2em;
}

h4 {
    margin: .15rem 0;
    font-size: 1.75em;
}

h5 {
    margin: .15rem 0;
    font-size: 1.5em;
}

h6 {
    margin: .15rem 0;
    font-size: 1.25em;
}

a {
    font-size: inherit;
    color: #754928;
    text-decoration: none;
}

nav {
    z-index: 5;
}

ol, ul {
    padding-left: 0;
    list-style-type: none;
}


/* firefox block and text line-heght bug*/

div, ol, ul, li, a, p, span {
    line-height: 2em;
}

a img {
    border: 0;
}

img {
    border: 0;
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none;
}

svg:not(:root) {
    overflow: hidden;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

code, pre, kbd, var, samp {
    font-family: Consolas, "Courier New", monospace;
}

pre {
    display: block;
    padding: 0 .12rem;
    word-break: break-all;
    word-wrap: break-word;
    background-color: rgba(219, 190, 131, .15);
    border: 1px solid #DBBE83;
}

html[data-dpr="2"] {
    font-size: 200px;
}

html[data-dpr="3"] {
    font-size: 300px;
}

html:not([data-dpr]) body {
    font-size: 12px;
}

[data-dpr="1"] body {
    font-size: 12px;
}

[data-dpr="2"] body {
    font-size: 24px;
}

[data-dpr="3"] body {
    font-size: 36px;
}

input:not([type]), input[type="search"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
    outline: 0;
    box-sizing: border-box;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"] {}

div[contenteditable="true"], pre[contenteditable="true"] {
    padding: 0 1em;
    line-height: inherit;
    outline: 0;
}

* {
    box-sizing: border-box;
}

::before, ::after {
    box-sizing: border-box;
}

::selection, .input::selection {
    color: #FFF;
    background-color: rgba(219, 190, 131, .8);
}

.block {
    display: block;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* padding and margin */

.pad4 {
    padding: .04rem;
}

.pad4-lr {
    padding-right: .04rem;
    padding-left: .04rem;
}

.pad4-tb {
    padding-top: .04rem;
    padding-bottom: .04rem;
}

.pad8 {
    padding: .08rem;
}

.pad8-lr {
    padding-right: .08rem;
    padding-left: .08rem;
}

.pad8-tb {
    padding-top: .08rem;
    padding-bottom: .08rem;
}

.pad12 {
    padding: .12rem;
}

.pad12-lr {
    padding-right: .12rem;
    padding-left: .12rem;
}

.pad12-tb {
    padding-top: .12rem;
    padding-bottom: .12rem;
}

.pad16 {
    padding: .16rem;
}

.pad16-lr {
    padding-right: .16rem;
    padding-left: .16rem;
}

.pad16-tb {
    padding-top: .16rem;
    padding-bottom: .16rem;
}

.pad20 {
    padding: .2rem;
}

.pad20-lr {
    padding-right: .2rem;
    padding-left: .2rem;
}

.pad20-tb {
    padding-top: .2rem;
    padding-bottom: : .2rem;
}

.mag4 {
    margin: .04rem;
}

.mag4-lr {
    margin-right: .04rem;
    margin-left: .04rem;
}

.mag4-tb {
    margin-top: .04rem;
    margin-bottom: .04rem;
}

.mag8 {
    margin: .08rem;
}

.mag8-lr {
    margin-right: .08rem;
    margin-left: .08rem;
}

.mag8-tb {
    margin-top: .08rem;
    margin-bottom: .08rem;
}

.mag12 {
    margin: .12rem;
}

.mag12-lr {
    margin-right: .12rem;
    margin-left: .12rem;
}

.mag12-tb {
    margin-top: .12rem;
    margin-bottom: .12rem;
}

.mag16 {
    margin: .16rem;
}

.mag16-lr {
    margin-right: .16rem;
    margin-left: .16rem;
}

.mag16-tb {
    margin-top: .16rem;
    margin-bottom: .16rem;
}

.mag20 {
    margin: .2rem;
}

.mag20-lr {
    margin-right: .2rem;
    margin-left: .2rem;
}

.mag20-tb {
    margin-top: .2rem;
    margin-bottom: .2rem;
}


/* font size  */

.font12 {
    font-size: 12px;
}

.font16 {
    font-size: 16px;
}

.font24 {
    font-size: 24px;
}

.font32 {
    font-size: 32px;
}


/* text and content style */

.text-lineheight-b15 {
    line-height: 3em;
}

.text-lineheight-b20 {
    line-height: 4em;
}

.text-letterspacing-2 {
    letter-spacing: .02rem;
}

.text-letterspacing-4 {
    letter-spacing: .04rem;
}

.text-letterspacing-6 {
    letter-spacing: .06rem;
}

.text-wordspacing-4 {
    word-spacing: .04rem;
}

.text-wordspacing-8 {
    word-spacing: .08rem;
}

.text-wordspacing-12 {
    word-spacing: .12rem;
}

.text-justify {
    text-align: justify;
}

.text-ilbvmiddle {
    /* this class property used cautiously please. */
    display: inline-block;
    vertical-align: middle;
}

.writing-mode-rl {
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.writing-mode-lr {
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}

.hyphenate {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}


/* data table style*/

table, .table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}


/*
.table.table-border>caption {
    border: 1px solid #DBBE83;
    border-bottom: none;
}*/

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid #DBBE83;
}

.table>thead>tr:first-child>th, .table>tbody>tr:first-child>th, .table>tfoot>tr:first-child>th, .table>thead>tr:first-child>td, .table>tbody>tr:first-child>td, .table>tfoot>tr:first-child>td {
    border-top: 0;
}

.table-border {
    border: 1px solid #DBBE83;
}

.table-border>thead>tr>th, .table-border>tbody>tr>th, .table-border>tfoot>tr>th, .table-border>thead>tr>td, .table-border>tbody>tr>td, .table-border>tfoot>tr>td {
    border: 1px solid #DBBE83;
}

.table>thead>tr>th, .table>thead>tr>td, .table-border>thead>tr>th, .table-border>thead>tr>td {
    border-bottom: 2px solid #DBBE83;
}

.table-striped>tbody>tr:nth-child(odd), .table-striped>tr:nth-child(odd) {
    background-color: rgba(219, 190, 131, .15);
}

.table-striped>tbody>tr:nth-child(even), .table-striped>tr:nth-child(even) {
    background-color: rgba(219, 190, 131, .35);
}

.table-hover>tbody>tr:hover, .table-hover>tr:hover {
    background-color: rgba(219, 190, 131, .15);
}

.table-striped.table-hover>tbody>tr:hover, .table-hover>tbody.table-striped>tr:hover {
    background-color: transparent;
}


/* display table */

.table>.caption {
    display: table-caption;
    text-align: center;
}

.table-thead, .table-tbody, .table-tfoot {
    vertical-align: middle;
    border-color: inherit;
}

.table>.table-thead {
    display: table-header-group;
}

.table>.table-tbody {
    display: table-row-group;
}

.table>.table-tfoot {
    display: table-footer-group;
}

.table-row, .table-cell {
    vertical-align: inherit;
}

.table .table-row {
    display: table-row;
}

.table .table-row>.table-cell {
    display: table-cell;
    padding: .01rem .02rem;
}

.table>.table-thead>.table-row>.table-cell, .table>.table-tbody>.table-row>.table-cell, .table>.table-tfoot>.table-row>.table-cell, .table>.table-row>.table-cell {
    border-top: 1px solid #DBBE83;
}

.table>.table-thead>.table-row:first-child>.table-cell, .table>.table-tbody>.table-row:first-child>.table-cell, .table>.table-tfoot>.table-row:first-child>.table-cell {
    border-top: 0;
}

.table>.table-thead>.table-row>.table-cell, .table-border>.table-thead>.table-row>.table-cell {
    border-bottom: 2px solid #DBBE83;
}

.table-striped>.table-tbody>.table-row:nth-child(odd), .table-striped>.table-row:nth-child(odd) {
    background-color: rgba(219, 190, 131, .15);
}

.table-striped>.table-tbody>.table-row:nth-child(even), .table-striped>.table-row:nth-child(even) {
    background-color: rgba(219, 190, 131, .35);
}

.table-hover>.table-tbody>.table-row:hover, .table-hover>.table-row:hover {
    background-color: rgba(219, 190, 131, .15);
}

.table-striped.table-hover>.table-tbody>.table-row:hover, .table-hover>.table-tbody.table-striped>.table-row:hover {
    background-color: transparent;
}


/* container gird style */

.container {
    padding-left: .1rem;
    padding-right: .1rem;
    margin-left: auto;
    margin-right: auto;
}

.grid-row {
    margin-left: -.1rem;
    margin-right: -.1rem;
}

.clearfix::before, .grid-row::before {
    content: " ";
    display: table;
}

.clearfix::after, .grid-row::after {
    content: " ";
    display: table;
    clear: both;
}

.grid-col-1, .grid-col-2, .grid-col-3, .grid-col-4, .grid-col-6, .grid-col-12 {
    position: relative;
    float: left;
    min-height: 1px;
    padding: .1rem;
    background: rgba(219, 190, 131, .15);
    border: 1px solid rgba(219, 190, 131, .8);
}

.grid-col-12 {
    width: 100%;
}

.grid-col-6 {
    width: 50%;
}

.grid-col-4 {
    width: 33.3333333%;
}

.grid-col-3 {
    width: 25%;
}

.grid-col-2 {
    width: 16.6666667%;
}

.grid-col-1 {
    width: 8.3333333%;
}


/* input validate style */

.validate {
    /* to do here wait update*/
}

.validate-required:required {
    /* to do here wait update*/
}

.validate:valid {
    background-color: rgba(66, 204, 136, .15);
    border-color: rgba(66, 204, 136, .8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(67, 208, 138, .6);
}

.validate:invalid {
    color: rgba(224, 82, 82, 1);
    background-color: rgba(224, 82, 82, .15);
    border-color: rgba(224, 82, 82, .8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(224, 82, 82, .6);
}

.not-validate {
    /* to do here wait update*/
}

.button, .input, .select, .textarea {
    color: rgba(219, 190, 131, 1);
}


/* input style*/

.input, input:-webkit-autofill {
    padding: .5em 1em;
    background: rgba(219, 190, 131, .15);
    border: 1px solid rgba(219, 190, 131, .8);
    text-shadow: 4px 3px 1px #000;
}

.input:focus {
    border-color: rgba(25, 176, 195, .8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(25, 176, 195, .6);
}


/*::selection, input::selection, textarea::selection*/


/* button style */

.button {
    display: inline-block;
    height: auto;
    padding: .5em 1em;
    line-height: inherit;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(219, 190, 131, .8);
    /*background: linear-gradient(-135deg, #F00 0, #58A 75%);*/
    outline: none;
}

.button:hover, input[type="button"].button:hover {
    background-color: rgba(219, 190, 131, .15);
}

.button:active, input[type="button"].button:active {
    border: 1px solid transparent;
}


/* active and disable style */

.active {
    pointer-events: auto;
    cursor: pointer;
}

.disable {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .5;
}


/* nav style*/

.nav {
    padding: 0;
    margin: 0;
    list-style: none;
}


/* inline list style*/

.list-inline {
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding: 0;
    margin: 0;
}


/* anchor style */


/* to do here */


/* badge style */

.badge {
    display: inline-block;
    min-width: .12rem;
    padding: .01rem .03rem;
    font-size: .1rem;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    background-color: rgba(219, 190, 131, .35);
    border-radius: .1rem;
}

.badge:empty {
    display: none;
}

.timeline {
    position: fixed;
    top: .2rem;
    bottom: .2rem;
    width: 0;
    height: auto;
    padding-left: .2rem;
}

.timeline>.nav {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.timeline>.nav>li {
    margin: .16rem 0;
}

.timeline>.nav>li>a {
    position: relative;
    display: block;
    padding: .02rem .04rem;
    margin-left: .08rem;
    line-height: .16rem;
    color: rgba(219, 190, 131, .35);
}

.timeline>.nav>li>a:hover, .timeline>.nav>li>a:focus {
    padding-left: .03rem;
    color: #DBBE83;
    border-left: 1px solid #DBBE83;
}

.timeline>.nav>li.active>a:hover {
    padding-left: .02px;
    color: #DBBE83;
    border-left: 2px solid #DBBE83;
}


/* main init */

.main {
    width: 100%;
    padding: 0 .2rem;
}

.headerbar, .footerbar {
    z-index: 5;
}

.fullpage {
    position: absolute;
    top: .15rem;
    right: .2rem;
    -ms-touch-action: none;
    touch-action: none;
}

.wallpapers {
    background-image: url(http://www.liebao.cn/newtab/background/rain2.jpg);
    background-size: cover;
}


/* shade mode init and style */

.shade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    /* backface-visibility: hidden; */
}

.shade-box {
    width: 3.2rem;
    height: 1.8rem;
    padding: 0 2em;
    margin: auto;
    text-align: center;
    border: 1px solid red;
}

.shade-bg {}

.shade-box>.shade-content {
    width: inherit;
    height: inherit;
}

.shade-content {
    overflow: hidden;
    word-break: break-all;
}

.shade-blur {
    -webkit-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}
